{% extends 'base.html' %}

{% block title %}Select Movie{% endblock %}

{% block content %}
<div class="container">
    <h1 class="heading">Select Movie</h1>
    {% if movies %}
    {% for movie in movies %}
        <p>
            <a href="{{ url_for('select', movie_id = movie.id) }}"> {{ movie.title }} - ({{ movie.release_date }})</a>
        </p>
    {% endfor %}
    {% else %}
    <div class="container">
        <p>No matches found</p>
        <a href="{{ url_for('home') }}">Return to home</a>
    </div>

    {% endif %}

</div>
{% endblock %}